
	executor.name= 'k8s'
	executor.queueSize= 25
	k8s.namespace = 'wf-37dfe2e5-5c9f-4b64-b218-89505c822f37'
	k8s.serviceAccount =  'task'
	k8s.launchDir = '/nf/launch'
	k8s.projectDir = '/nf/projects'
	k8s.workDir = '/nf/work'
	k8s.storageClaimName = 'pvc-37dfe2e5-5c9f-4b64-b218-89505c822f37'
	k8s.storageMountPath = '/ces'
	k8s.cleanup = true
	trace.enabled = true
	trace.file = '.ica/user/trace-report.txt'
	trace.fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt,env,workdir,script,scratch,error_action'
	timeline.enabled = true
	timeline.file = '.ica/user/timeline-report.html'
	report.enabled = true
	report.file = '.ica/user/execution-report.html'
	dag.enabled = true
	dag.file = '.ica/user/dag-report.dot'
	